.productmain {
    width: 100%;
    position: relative;
    overflow: hidden;
    scroll-behavior: smooth !important;
    transition: all 600ms;

}

.productmain:hover .sliderBtn {
    opacity: .9;
}


.productContainer::-webkit-scrollbar {
    display: none;
}

.productContainer {
    display: flex;
    position: relative;
    overflow-x: scroll;
    scrollbar-width: none;
    scroll-behavior: smooth;
    justify-content: flex-start;
}

.productContainer>div {
    min-width: calc(100% / 5);
}

.sliderBtn {
    top: 50%;
    margin: 2px;
    opacity: 0;
    z-index: 10;
    display: flex;
    color: white;
    cursor: pointer;
    font-weight: 700;
    font-size: 1.4em;
    border-radius: 50%;
    position: absolute;
    align-items: center;
    background-color: #333;
    justify-content: center;
    transition: opacity 600ms;
    transform: translateY(-50%);
}

.sliderBtn:hover {
    opacity: 1;
    background: rgb(196, 15, 15);
}

.sliderBtn:active {
    scale: .9;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.sliderPrev {
    left: 0;
}

.sliderNext {
    right: 0;
}

@media only screen and (width<=1024px) {
    .productContainer>div {
        min-width: calc(100% / 4);
    }

}

@media only screen and (width<=768px) {
    .productContainer>div {
        min-width: calc(100% / 3);
    }

}

@media only screen and (width<=420px) {
    .productContainer>div {
        min-width: 100%;
    }
}


.box-card-mou .card-images {
    height: 370px;
    /* padding: 5px; */
    /* border-radius: 10px; */
    /* box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px; */
}