.footer_btn:hover{
    background-color: brown;
    color: aliceblue;
}

@media screen and (max-width: 600px){
    .payStoreBtn{
        display: flex;
        flex-direction: column;

    }
    .footerdown{
        display: none;
    }
 
   
}

@media screen and (max-width: 450px){
    .payStoreBtn{
        display: flex;
        flex-direction: column;

    }
    .footerdown{
        display: none;
    }
    
   
}