.product-update-container {
     top: 50%;
     width: 40%;
     left: 50%;
     z-index: 99;
     padding: 30px;
     background: white;
     border-radius: 10px;
     border: 1px solid black;
     transform: translate(-50%, -50%);
}

.update-product-input-container {
     gap: 10px;
     width: 100%;
     margin: auto;
     padding: 10px;
     display: grid;
     grid-template-columns: repeat(1, 1fr);
}

.update-product-input-container input {
     font-size: 17px;
}