* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #E53E3E;
  border-radius: 90px;
}

::-webkit-scrollbar-track {
  background: rgb(206, 201, 201);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.btn-clicked {
  transition: all 200ms !important;
}

.btn-clicked:active {
  scale: 1.02
}