* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: #E53E3E;
  border-radius: 90px;
}

::-webkit-scrollbar-track {
  background: rgb(206, 201, 201);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.btn-clicked {
  /* transition: all 200ms !important; */
}

.btn-clicked:active {
  /* scale: 1.1; */
  scale: .9;
  box-shadow: rgba(54, 53, 53, 0.35) 0px 5px 15px;
}

.login-main-container * {
  transition: all 600ms;
}

.transition {
  transition: all 600ms;
}

.hide-scroll::-webkit-scrollbar {
  width: 0;
  display: none;
}